html{
    font-size: 62.5%;
}

/* HEADER */

.header{
    grid-area: header;
    background-color: #fff;
}

.header .header-container{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header h1{
    font-size: 3rem;
    font-weight: 700;
    transition: 0.3s;
}

.header a:hover h1{
    color: red;
}

.menu_filmes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 40px;
    gap: 20px;
}

.filme h2 {
    font-size: 18px;
    padding: 15px;
    text-align: center;
}

.filme img {
    height: 407px;
    width: 300px;
    border-radius: 10px;    
}

/* .container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    font-size: 20px;
    text-align: justify;
    color: white;
    margin-bottom: 100px;
}

iframe {
    border-radius: 10px;
}

img {
    border-radius: 10px;
}

.conteudo {
    display: flex;
} */

.sinopse {
    margin: 0 20px;
} 

footer{
    height: 20vh;
    position: relative;
}

.icone{
    height: 50px;
    position: fixed;
    left: 50px;
    bottom: 50px;
}