html{
    font-size: 62.5%;
}

/* HEADER */

.header{
    grid-area: header;
    background-color: #fff;
}

.header .header-container{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header h1{
    font-size: 3rem;
    font-weight: 700;
    transition: 0.3s;
}

.header a:hover h1{
    color: red;
}

.menu_filmes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 40px;
    gap: 20px;
}

.filme h2 {
    font-size: 18px;
    padding: 15px;
    text-align: center;
}

.filme img {
    height: 407px;
    width: 300px;
    border-radius: 10px; 
    transition: ease 1s; 
}

.filme img:hover{
    box-shadow:red 2px 2px 5px;
}

.sinopse {
    margin: 0 20px;
} 

footer{
    height: 100px;
    position: relative;
    background-image: linear-gradient(45deg, #63466B, #0E7A78, #FDB83E, black);
}

.whatsapp{
    height: 35px;
    position: fixed;
    left: 50px;
    bottom: 30px;
    transition: ease-in-out 0.5s;
}

.whatsapp:hover{
    height: 50px;
}

.seta-para-cima{
    height: 35px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow{
    0%{-webkit-transform: translateY(0); opacity: 0.4;}
    100%{-webkit-transform: translateY(0.4em); opacity: 0.9;}
}
