* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding: 25px;
    text-align: center;
    font-size: 50px;
    text-shadow: rgba(0, 0, 255, 0.658) 2px 2px 2px;
}

ul.menu{
    background-color: rgba(0, 0, 255, 0.658);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 22px;
    list-style: none;
}

ul.menu li a {
    text-decoration: none;
    color: white;
}

ul.menu li a:hover {
    color: black;
}

section ul.menu_filmes {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 22px;
    justify-content: center;
    align-items: center;
}

ul.menu_filmes, ul.menu_filmes li a{
    list-style: none;
    text-decoration: none;
    text-align: center;
    color: black;
}
