* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}


h1 {
    padding: 25px;
    text-align: center;
    font-size: 50px;
    text-shadow: white 2px 2px 2px;
    color: red;
}

ul.menu{
    background-color: rgba(0, 0, 255, 0.658);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 22px;
    list-style: none;
}

ul.menu li a {
    text-decoration: none;
    color: white;
}

ul.menu li a:hover {
    color: black;
}

section {
    margin-bottom: 100px;
}

section ul.menu_filmes {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 22px;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

ul.menu_filmes li a{
    list-style: none;
    text-decoration: none;
    text-align: center;
    color: white;
}

ul.menu_filmes li a img {
    border-radius: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    font-size: 20px;
    text-align: justify;
    color: white;
    margin-bottom: 100px;
}

iframe {
    border-radius: 10px;
}

img {
    border-radius: 10px;
}

.conteudo {
    display: flex;
}

.sinopse {
    margin: 0 20px;
} 
