/* dispositivos médios (tablets, menos de 992px) */
@media (max-width: 992px) {

    .container {
        padding: 20px;
        font-size: 18px;
        text-align: center;
    }

    .sinopse {
        display: grid;
        grid-template-columns: auto;
    }

    .capa img {
        width: 100%;
        border-radius: 10px;
    }

    .conteudo {
        padding: 20px 0px;
    }

    .trailer iframe{
        width: 100%;
        padding: 20px;
    }
}

/* dispositivos pequenos (celulares em posição paisagem, menos de 768px) */
@media (max-width: 768px) {
    
    .container {
        padding: 20px;
        font-size: 18px;
        text-align: center;
    }

    .sinopse {
        display: grid;
        grid-template-columns: auto;
    }

    .capa img{
        width: 100%;
        border-radius: 10px;
    }

    .conteudo {
        padding: 20px 0px;
    }

    .trailer iframe{
        width: 100%;
        padding: 20px;
    }
}



/* dispositivos pequenos (celulares em posição paisagem, menos de 768px) */
/* @media (max-width: 768px) {} */

/* dispositivos médios (tablets, menos de 992px) */
/* @media (max-width: 992px) {} */

/* dispositivos grandes (desktops, menos de 1200px) */
/* @media (max-width: 1200px) */

/* dispositivos extra grandes (desktops grandes) */
/* 1200px ou mais não tem breakpoint */